
body{
    margin: 0;
    padding: 0;
}
main{
    background-color: #f0f2f5;
}
#top{
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 580px;
    padding-right: 32px;
}
section div{
    padding: 0px 0 16px 0;
}
section img{
    width: 310px;
    height: auto;
    margin-bottom: -26px;
}
section h2{
    width: 500px;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding-left: 30px;
    font-family: Helvetica, Arial, sans-serif;
}
form{
    width: 370px;
    margin: 90px 0 0 0;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    height: 360px;
}
form div{
    margin: 16px 0;
    text-align: center;
}

input{
    width: 360px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}
input, textarea{
    padding: 0 10px;
}
.signUp input, textarea {
    background-color : #eef1f5;   
  }
button{
    background-color: #1877f2;
    width: 360px;
    height: 48px;
    border-radius: 6px;
    border: none;
    padding: 0 16px;
    font-size: 20px;
    font-family: inherit;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}
form a{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.createPage{
    text-align: center;
    margin-top: 100px;
}
.createPage a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
footer{
    background-color: #fff;
}
footer a{
    text-decoration: none;
    color: #8a8d91;
}
.signUp{
    visibility: hidden;
    background-color: rgba(255, 255, 255, .8);
    margin: 0 auto;
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
#createNewAccCheckBox:checked ~ .signUp{
    visibility: visible;
}

.show-btn{
    position: absolute;
    right: 20%;
    top: 55%;
    background: #42b72a;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
  }
  #close-btn:checked ~ .signUp {
    visibility: hidden;
  }

  input[type="checkbox"]{
    visibility: hidden;
    width: 10px;
    height: 10px;
}
.signUpForm{
    margin: 0 auto;
    width: 430px;
}
.signUpHeading{
    display: flex;
    border-bottom: 2px solid #f5f6f7;
    width: 440px;
    background: #fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding-left: 10px;
}
.SignUpIsQuick h1{
    margin: 0;
}
.SignUpIsQuick p{
    margin-top: 0;
}
.close-btn-img img{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 65%;
} 
.forma form{
    margin: 0;
    width: 430px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-top: 0;
}
.d-flex{
    display: flex;
    justify-content: center;
    margin: 0;
}
.d-flex div{
    margin-bottom: 0;
}
.d-flex input{
    width: 190px;
    height: 40px;
}
input[type="radio"]{
    width: 15px;
    position: relative;
    top: -5px;
    left: -10px;
}
.radio-btn{
    border: 1px solid #f5f6f7;
    width: 128px;
    text-align: right;
    height: 34px;
}
.radio-btn label{
    position: relative;
    top: -20px;
    left: -20px;
}
.pr-10{
    padding-right: 10px;
}
.margin-left-right{
    margin: 0 10px;
}
.d-block input{
    width: 402px;
}
.d-flex select{
    width: 130px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}
#Birth p{
    text-align: left;
    padding-left: 10px;
    margin-bottom: 0;
}
#Birth .d-flex{
    margin-top: 0;
}
#Birth .d-flex div{
    margin-top: 0;
}

#gender p{
    text-align: left;
    padding-left: 10px;
    margin-bottom: 0;
}
#gender .d-flex{
    margin-top: 0;
}
#gender .d-flex div{
    margin-top: 0;
}
.termsOfUse{
    font-family: inherit;
    font-size:11px;
    text-align: left;
    color: #93979d;
}
.signUp-btn{
    margin: 0;
}
.signUp-btn button{
    width: 194px;
    height: 36px;
    background-color: #00a400;
}